<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/weather.css">

        <title>Electric Sheep</title>
    </head>

    <body>
        <!--  
        # Navbar supported content
        Navbars come with built-in support for a handful of sub-components.
        .navbar-brand: for your company, product, or project name.
        .navbar-nav: for a full-height and lightweight navigation(including support for dropdowns)
        .navbar-toggler: for use with our collapse plugin and other navigation toggling behaviors
        .form-inline: for any form controls and actions.
        .navbar-text: for adding vertically centered strings of text.
        .collapse.navbar-collapse: for grouping and hiding navbar contents by a parent breakpoint
        -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/" style="font-weight: 500;">Yi Long</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/bucket-list/show">Bucket List</a></li>
                </ul>
                <!-- <span class="navbar-text" id="count"> visits</span> -->
                <span class="navbar-text" id="visitor_counts"><%= num_visitors %></span>
                <span class="navbar-text">&nbsp;visitors&nbsp;&nbsp;&nbsp;</span>
                <span class="navbar-text" id="visit_counts">0</span>
                <span class="navbar-text">&nbsp;visits</span>
            </div>
        </nav>

        <div class="hello_world">
            _   _      _ _    __        __         _     _ 
           | | | | ___| | | __\ \      / /__  _ __| | __| |
           | |_| |/ _ \ | |/ _ \ \ /\ / / _ \| '__| |/ _` |
           |  _  |  __/ | | (_) \ V  V / (_) | |  | | (_| |
           |_| |_|\___|_|_|\___/ \_/\_/ \___/|_|  |_|\__,_|
        </div>
        
        <div class="container">
            <div class="row">
                <!-- left part -->
                <div class="col-4">
                    <!-- card of profile -->
                    <div class="card">
                        <div class="card_head">
                            <div class="card_head_wrapper">
                                <div class="card_head_title">Profile</div>
                            </div>
                        </div>
                        <div class="card_body">
                            <div class="card_body_wrapper">
                                <img src="/pictures/user_img.png" class="user_img">
                                <div class="user_info">
                                    <div class="user_name">
                                        <span>Yi</span>    
                                    </div>
                                    <div class="user_saySomething">
                                        <span>竹杖芒鞋轻胜马，一蓑烟雨任平生</span>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card_tail">
                            <div class="card_tail_wrapper">
                                <div class="card_tail_title">Location</div>
                                <div class="card_tail_content">United States</div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- card of links -->
                    <div class="card">
                        <div class="card_head">
                            <div class="card_head_wrapper">
                                <div class="card_head_title">Links</div>
                            </div>
                        </div>
                        <div class="card_body">
                            <div class="card_body_wrapper">
                                <div class="links">
                                    <div class="link_wrapper">
                                        <div class="link_title">LinkedIn</div>
                                        <a href="http://linkedin.com/in/yi-long-69ba33190" class="link"> https://www.linkedin.com/in/yi-long-69ba33190</a>
                                    </div>
                                    <div class="link_wrapper">
                                        <div class="link_title">Github</div>
                                        <a href="https://github.com/Evan1992" class="link">https://github.com/Evan1992</a>
                                    </div>
                                    <div class="link_wrapper">
                                        <div class="link_title">Leetcode</div>
                                        <a href="https://leetcode.com/ylong9/" class="link">https://leetcode.com/ylong9/</a>
                                    </div>
                                    <div class="link_wrapper">
                                        <div class="link_title">Douban</div>
                                        <a href="https://www.douban.com/people/longyi1992/" class="link">https://www.douban.com/people/longyi1992/</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- card of useful tools -->
                    <div class="card">
                        <div class="card_head">
                            <div class="card_head_wrapper">
                                <div class="card_head_title">Tools</div>
                            </div>
                        </div>
                        <div class="card_body">
                            <div class="card_body_wrapper">
                                <div class="tools">
                                    <div class="tool_wrapper">
                                        <img src="pictures/icons/timer_icon.png" alt="">
                                        <a href="https://github.com/Evan1992/EchoofTime" class="tool_title">Echo of time</a>
                                    
                                        <img src="pictures/icons/cart_icon.png" alt="">
                                        <a href="https://github.com/Evan1992/Smart-Cart" class="tool_title">Smart Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- card of weather -->
                    <div class="card">
                        <div class="card_head">
                            <div class="card_head_wrapper">
                                <div class="card_head_title">Weather</div>
                            </div>
                        </div>
                        <div class="card_body">
                            <div class="card_body_wrapper">
                                <div class="notification"> </div>
                                <div class="weather-container">
                                    <div class="weather-icon">
                                        <img src="unknown.png" alt="">
                                    </div>
                                    <div class="location">
                                        <p>-</p>
                                    </div>
                                    <div class="temperature-description">
                                        <p> - </p>
                                    </div>
                                    <div class="temperature-value">
                                        <p>- °<span>C</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- card of tools -->
                    <div class=tools_box>

                    </div>
                </div>
                
                <!-- right part -->
                <div class="col-8">
                    <div class="sort" id="book">
                        <div class="sort_title">
                            <h5 class="sort_title_name">
                                <a href="/book/index">Books</a>
                            </h5>
                        </div>

                        <div class="sort_body">
                            <div class="container" id="right_container">
                                <!-- Row for book images -->
                                <div class="row" id="right_row">
                                    <!-- Retrieve books' cover from the database and display it -->
                                    <% count = 0 %>
                                    <% for(let i = books.length-1; i>=0; --i) { %>
                                        <% book = books[i] %>
                                        <% count++ %>
                                        <div class="col-2">
                                            <a href="/book/<%= book._id %>/show">
                                                <% if(book.cover.img_data !== undefined) { %>
                                                    <img src="data:book/<%= book.cover.contentType%>;base64, <%= book.cover.img_data.toString('base64')%>" class="item-img">
                                                <% } else { %>
                                                    <img src="pictures/books/book-default.gif" class="item-img">
                                                <% } %>
                                            </a>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                    <div class="col-2"><a href="/book/new"><img src="/pictures/add_icon.png"   class="add-icon"></a></div>
                                </div>
                                <!-- Row for book names -->
                                <div class="row" id="right_row">
                                    <!-- Retrieve books' cover from the database and display it -->
                                    <% count = 0 %>
                                    <% for(let i = books.length-1; i>=0; --i) { %>
                                        <% book = books[i] %>
                                        <% count++ %>
                                        <div class="col-2" style="text-align:center; font-size:small;">
                                            <%= book.name %>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sort" id="drama">
                        <div class="sort_title">
                            <h5 class="sort_title_name">
                                <a href="/drama/index">Dramas</a>
                            </h5>
                        </div>

                        <div class="sort_body">
                            <div class="container" id="right_container">
                                <!-- Row for drama images -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = dramas.length-1; i>=0; --i) { %>
                                        <% drama = dramas[i] %>
                                        <% count++ %>
                                        <div class="col-2">
                                            <a href="/drama/<%= drama._id %>/show">
                                                <% if(drama.cover.img_data !== undefined) { %>
                                                    <img src="data:drama/<%= drama.cover.contentType%>;base64, <%= drama.cover.img_data.toString('base64')%>" class="item-img">
                                                <% } else { %>
                                                    <img src="pictures/dramas/drama-default.png" class="item-img">
                                                <% } %>
                                            </a>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                    <div class="col-2"><a href="/drama/new"><img src="/pictures/add_icon.png"   class="add-icon"></a></div>
                                </div>
                                <!-- Row for drama names -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = dramas.length-1; i>=0; --i) { %>
                                        <% drama = dramas[i] %>
                                        <% count++ %>
                                        <div class="col-2" style="text-align:center; font-size:small;">
                                            <%= drama.name %>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sort" id="music">
                        <div class="sort_title">
                            <h5 class="sort_title_name">
                                <a href="/record/index">Records</a>
                            </h5>
                        </div>

                        <div class="sort_body">
                            <div class="container" id="right_container">
                                <!-- Row for record images -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = records.length-1; i>=0; --i) { %>
                                        <% record = records[i] %>
                                        <% count++ %>
                                        <div class="col-2">
                                            <a href="/record/<%= record._id %>/show">
                                                <% if(record.cover.img_data !== undefined) { %>
                                                    <img src="data:record/<%= record.cover.contentType%>;base64, <%= record.cover.img_data.toString('base64')%>" class="item-img">
                                                <% } else { %>
                                                    <img src="pictures/records/record-default.gif" class="item-img">
                                                <% } %>
                                            </a>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                    <div class="col-2"><a href="/record/new"><img src="/pictures/add_icon.png"   class="add-icon"></a></div>
                                </div>
                                <!-- Row for record names -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = records.length-1; i>=0; --i) { %>
                                        <% record = records[i] %>
                                        <% count++ %>
                                        <div class="col-2" style="text-align:center; font-size:small;">
                                            <%= record.name %>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sort" id="game">
                        <div class="sort_title">
                            <h5 class="sort_title_name">
                                <a href="/game/index">Games</a>
                            </h5>
                        </div>

                        <div class="sort_body">
                            <div class="container" id="right_container">
                                <!-- Row for game images -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = games.length-1; i>=0; --i) { %>
                                        <% game = games[i] %>
                                        <% count++ %>
                                        <div class="col-2">
                                            <a href="/game/<%= game._id %>/show">
                                                <% if(record.cover.img_data !== undefined) { %>
                                                    <img src="data:game/<%= game.cover.contentType%>;base64, <%= game.cover.img_data.toString('base64')%>" class="item-img">
                                                <% } else { %>
                                                    <img src="pictures/records/record-default.gif" class="item-img">
                                                <% } %>
                                            </a>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                    <div class="col-2"><a href="/game/new"><img src="/pictures/add_icon.png"   class="add-icon"></a></div>
                                </div>
                                <!-- Row for record names -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = games.length-1; i>=0; --i) { %>
                                        <% game = games[i] %>
                                        <% count++ %>
                                        <div class="col-2" style="text-align:center; font-size:small;">
                                            <%= game.name %>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sort" id="channels">
                        <div class="sort_title">
                            <h5 class="sort_title_name">
                                <a href="/channel/index">Channels</a>
                            </h5>
                        </div>

                        <div class="sort_body">
                            <div class="container" id="right_container">
                                <!-- Row for channel images -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = channels.length-1; i>=0; --i) { %>
                                        <% channel = channels[i] %>
                                        <% count++ %>
                                        <div class="col-2">
                                            <a href="/channel/<%= channel._id %>/show">
                                                <% if(record.cover.img_data !== undefined) { %>
                                                    <img src="data:channel/<%= channel.cover.contentType%>;base64, <%= channel.cover.img_data.toString('base64')%>" class="item-img">
                                                <% } else { %>
                                                    <img src="pictures/records/record-default.gif" class="item-img">
                                                <% } %>
                                            </a>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                    <div class="col-2"><a href="/channel/new"><img src="/pictures/add_icon.png"   class="add-icon"></a></div>
                                </div>
                                <!-- Row for channel names -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = channels.length-1; i>=0; --i) { %>
                                        <% channel = channels[i] %>
                                        <% count++ %>
                                        <div class="col-2" style="text-align:center; font-size:small;">
                                            <%= channel.name %>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sort" id="podcast">
                        <div class="sort_title">
                            <h5 class="sort_title_name">
                                <a href="/podcast/index">Podcasts</a>
                            </h5>
                        </div>

                        <div class="sort_body">
                            <div class="container" id="right_container">
                                <!-- Row for podcast images -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = podcasts.length-1; i>=0; --i) { %>
                                        <% podcast = podcasts[i] %>
                                        <% count++ %>
                                        <div class="col-2">
                                            <a href="/podcast/<%= podcast._id %>/show">
                                                <% if(record.cover.img_data !== undefined) { %>
                                                    <img src="data:podcast/<%= podcast.cover.contentType%>;base64, <%= podcast.cover.img_data.toString('base64')%>" class="item-img">
                                                <% } else { %>
                                                    <img src="pictures/records/record-default.gif" class="item-img">
                                                <% } %>
                                            </a>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                    <div class="col-2"><a href="/podcast/new"><img src="/pictures/add_icon.png"   class="add-icon"></a></div>
                                </div>
                                <!-- Row for podcast names -->
                                <div class="row" id="right_row">
                                    <% count = 0 %>
                                    <% for(let i = podcasts.length-1; i>=0; --i) { %>
                                        <% podcast = podcasts[i] %>
                                        <% count++ %>
                                        <div class="col-2" style="text-align:center; font-size:small;">
                                            <%= podcast.name %>
                                        </div>
                                        <% if(count==4) break %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="footer">
                <div class="footer-wrapper">
                    <span class="copyright">Copyright © 2020 Electric Sheep</span>
                </div>
            </div>
        </div>
        
        <script src="getServerIP.js"></script>
        <script src="weather.js"></script>
        <script src="visits.js"></script>
        <!-- <script src="visitors.js"></script> -->
    
    </body>
</html>